<!—views/layouts/main.handlebars-->
<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type"
content="text/html; charset=utf-8" />
<title>programing</title>
</head>
<body>
    <p>sdvfbfbf</p>
{{{body}}}
</body>
</html>